/* .product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  text-align: start;
}

.product-content-container-header h3 {
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

.lcOxyP.loaded {
  height: 450px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

.swiper-backface-hidden .swiper-slide img {
  height: 100%;
  padding: 55px 35px 40px;

}

@media screen and (min-width: 440px) {
  .lcOxyP.loaded {
    height: 450px;
  }

  .swiper-backface-hidden .swiper-slide img {
    padding: 55px 80px 40px;
  }
}

@media screen and (min-width: 575px) {
  .lcOxyP.loaded {
    height: 500px;
  }

  .swiper-backface-hidden .swiper-slide img {
    padding: 55px 100px 40px;
  }

  .block-last-content {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .lcOxyP.loaded {
    height: 600px;
  }

  .swiper-backface-hidden .swiper-slide img {
    padding: 60px 150px;
  }
} */

/* -----------------------------------------  content    ----------------------------------------------*/
.product-content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.product-content-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem .75rem 1.5rem;
  gap: 10px;
}

.product-content-container-header {
  font-weight: bold;
  width: 100%;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.product-table th,
.product-table td {
  padding: 7px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  color: #333;
  border: 1px solid #ddd;
}

.product-table tbody tr:hover {
  background-color: #f5f5f5;
}

.product-content-container .description{
  width: 100%;
}

.block-last {
  width: 100%;
  display: flex;
  align-items: center;
}

.block-last-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}


.product-quantity,
.product-quantity-icon {
  display: flex;
  justify-content: start;
}

.product-icon,
.product-quantity-input {
  display: flex;
  gap: 15px;
}

.product-quantity-input input {
  width: 105px;
  padding-left: 8px;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
}

.product-quantity-input-icon {
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 0.375rem;
  cursor: pointer;
}

.product-quantity-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.product-quantity-icon {
  display: flex;
  gap: 10px;
}

.product-quantity-icon .btn-add {
  border: 1px solid #0d69f2;
  font-size: 14px;
  display: flex;
  align-items: center;
  width: max-content;
}

.product-quantity-icon .btn-add:hover {
  border: 1px solid #0d69f2;
}

.product-icon {
  display: flex;
  gap: 6px;
}

.product-icon .product-icon-heart,
.product-icon .product-icon-signal {
  background-color: #f8f8f8;
  padding: 9px;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
}
@media screen and (min-width: 575px) {
  .block-last-content {
    flex-wrap: nowrap;
  }
}